@model CarDealer.Models.ViewModels.SaleViewModel

@{
    ViewBag.Title = "Sale Details";
}

<h2>Sale Details</h2>

<p>Car: @Model.Make - @Model.Model</p>
<p>Travelled distance: @Model.TravelledDistance</p>
<p>Customer: @Model.CustomerName</p>

