@using CameraBazaar.App.Extensions
@model IEnumerable<CameraBazaar.Models.ViewModels.AllCamerasVm>
@{
    ViewBag.Title = "All";
}

<h2>All Cameras</h2>

@foreach (var vm in Model)
{
    <div class="container">
        <div class="card col-md-5">
            <div class="row" style="border: 1px solid black; padding-bottom: 5px; padding-top: 5px; border-radius: 5px">
                <div class="col-md-4">
                    <div class="card-img-bottom">
                        <img class="img-thumbnail" src="@vm.ImageUrl" height="200" width="200">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-block">
                        <h4 class="card-title">@Html.DisplayFor(vms => vm.Make) @Html.DisplayFor(vms => vm.Model)</h4>
                        <strong><span>Price: $@Html.DisplayFor(vms => vm.Price) - </span></strong>
                        <strong>
                            @if (vm.Quantity == 0)
                            {
                                <span class="text-danger">OUT OF STOCK</span>
                            }
                            else
                            {
                                <span class="text-success">IN STOCK</span>
                            }
                        </strong>
                        <br />
                        <br />
                        @Html.ActionLink("Details", "Details", "Cameras", new { id = vm.Id }, new { @class = "card-text" })
                        @*<a class="card-text" href="#">Details</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
}

