
@{
    ViewBag.Title = "Add Customers";
}

<h2>Add Customers</h2>

<form method="post">
    <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="birthDate">Birth date: </label>
        <input id="birthDate" type="date" name="birthdate" class="form-control" />
    </div>
    <div class="form-group">
        <input class="btn btn-info" type="submit" value="Add" />
    </div>
</form>