
@{
    ViewBag.Title = "Add Supplier";
}

<h2>Add Supplier</h2>
<form method="post">
    <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="isImported" class="control-label">Type: </label>
        <select class="form-control" id="isImported" name="isImporter">
            <option value="false">Local</option>
            <option value="true">Imported</option>
        </select>
    </div>
    <div class="form-group">
        <input class="btn btn-info" type="submit" value="Add Supplier" />
    </div>
</form>

