@model CarDealer.Models.ViewModels.EditSupplierVm
@{
    ViewBag.Title = "Edit Supplier";
}
<h2>Edit Supplier</h2>

<form method="post">
    <input type="number" hidden="hidden" value="@Model.Id" name="id" />
    <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name" value="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <input class="btn btn-info" type="submit" value="Edit" />
    </div>
</form>

